@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import 'node_modules/bourbon/app/assets/stylesheets/bourbon';
@import 'node_modules/bourbon-neat/app/assets/stylesheets/neat';

// variables
$blue: #275aac;
$red: #d60959;
$yellow: #f6a900;
$link: #2898c5;
