@import "src/sass/init";

.employee {
  background: #555555;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border-bottom: 5px solid #222222;
  color: white;
}

.list-group {
  @include outer-container;
  list-style: none;
  display: block;
}

.list-group-item {
  display: block;
  @include span-columns(3);
  @include omega(4n);
  margin-top: 20px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  &:hover {
    opacity: 0.7;
  }
}

img {
  display: block;
  height: 140px;
  width: 140px;
}

.slackid {
  font-size: 12px;
  color: #999999;
  margin-bottom: 10px;
}
